<script>const wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
<script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>

<div id="page">
    <div class="wrapper">
        <div class="container25">
            <div class="container100">
                <h2>DKP-LOG for: '{{memberinfo.name}}'</h2>
                <h3>current DKP: {{memberinfo.dkp}}</h3>
            </div>
            <div class="spacer"></div>
            <div class="container100">
                <div class="table">
                    <div class="tableColumnFix200">
                        <div class="tableHeader">
                            Kind:
                        </div>
                        {{#each dkploginfo}}
                        <div class="tableRow">{{kind}}</div>
                        {{/each}}
                    </div>
                    <div class="tableColumn50">
                        <div class="tableHeader">
                            Timestamp:
                        </div>
                        {{#each dkploginfo}}
                        <div class="tableRow">{{pt timestamp}}</div>
                        {{/each}}
                    </div>
                    <div class="tableColumn">
                        <div class="tableHeader">
                            Information:
                        </div>
                        {{#each dkploginfo}}
                        <div class="tableRow">
                            {{#ifc kind '-dkp_item'}}
                            <a href="#" rel="item={{information}}&domain=de">ITEM-ID: {{information}}</a>
                            {{else}}
                            {{information}}
                            {{/ifc}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="tableColumnFix150">
                        <div class="tableHeader">
                            Value:
                        </div>
                        {{#each dkploginfo}}
                        <div class="tableRow">{{value}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="container100">
                <form action="/" method="post">
                    <button type="submit">Zur&uuml;ck zur DKP &Uuml;bersicht</button>
                </form>
            </div>
        </div>
    </div>
</div>